{# templates/verb.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Verbs{% endblock %}

{% block extra_header %}

{% endblock %}

{% block body %}

<div class="row">
  <div class="main">
  {% if infinitive is defined %}
    <h2>Question</h2>
    <font size="+1">
    <div id='origin'> <b>{{tenseName|capitalize}}:</b> {{infinitive}}</div>
    
    <!--<div id='reverse' style='visibility: hidden;'>{{value|replace({', ': '<br>', ',':'\n'})}}</div>-->
    <div id='reverse' style='visibility: hidden;'><br>{{value|raw}}</div>
    </font>

    <script type="text/javascript">
      function show()
      {
        var elem = document.getElementById('reverse');
        elem.style.visibility = 'visible';

        elem= document.getElementById('show_answer');
        elem.style.visibility = 'hidden';
      }
    </script>

    <button id="show_answer" class="show" onclick="show()">Show Answer</button>

    <button class="correct_button" onclick="window.location.href='{{linkOk}}/{{id}}'">Correct</button>
    <button class="wrong_button" onclick="window.location.href='{{linkKo}}/{{id}}'">Wrong</button>
    {% else %}
    <div id='origin'>
      Sorry, there are no results in the database that match your query.
      Try to change the category selected.
      </div>
    {% endif %}
  </div>

  <div class="side">
    <h2>Options</h2>
    <h5>Sorting options</h5>
      <button class="button" 
      {%if mode == "worst"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/verb/setSort/worst'">Sort by Worst</button>

      <button class="button" 
      {%if mode == "random"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/verb/setSort/random'">Sort by Random</button>

      <button class="button" 
      {%if mode == "unknown"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/verb/setSort/unknown'">Sort by Unknown</button>
  </div>
</div>

{% endblock %}