{# templates/vocabulary.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Vocabulary{% endblock %}

{% block extra_header %}

{% endblock %}

{% block body %}

<div class="row">
  <div class="main">
  {% if wordQuestioned is defined %}
    <h2>Question</h2>
    <font size="+1">
      <div id='origin'> <b>{{langQueryName|capitalize}}:</b> {{wordQuestioned}}</div>
      <div id='reverse' style='visibility: hidden;'><b> {{langNotQueryName|capitalize}}:</b> {{wordAnswered}}</div>
    </font>

    <script type="text/javascript">
      function show()
      {
        var elem = document.getElementById('reverse');
        elem.style.visibility = 'visible';

        elem= document.getElementById('show_answer');
        elem.style.visibility = 'hidden';
      }
    </script>

    <button id="show_answer" class="show" onclick="show()">Show Answer</button>

    <button class="correct_button" onclick="window.location.href='{{linkOk}}/{{id}}'">Correct</button>
    <button class="wrong_button" onclick="window.location.href='{{linkKo}}/{{id}}'">Wrong</button>
    {% else %}
    <div id='origin'>
      Sorry, there are no results in the database that match your query.
      Try to change the category selected.
      </div>
    {% endif %}
  </div>

  <div class="side">
    <h2>Options</h2>
    <h5>Sorting options</h5>
      <button class="button" 
      {%if mode == "worst"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/setSort/worst'">Sort by Worst</button>

      <button class="button" 
      {%if mode == "random"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/setSort/random'">Sort by Random</button>

      <button class="button" 
      {%if mode == "unknown"%} 
        id="selected" 
      {% endif %} 
      onclick="window.location.href='/setSort/unknown'">Sort by Unknown</button>
    
    <h5>Language Asked</h5>
      <button class="button" 
        {%if langSelected == "both"%}  
          id="selected" 
        {% endif %} 
        onclick="window.location.href='/setLang/both'">Ask Both</button>

        <button class="button" 
        {%if langSelected == "langA"%} 
          id="selected" 
        {% endif %} 
        onclick="window.location.href='/setLang/langA'">Ask {{langAName|capitalize}}</button>

        <button class="button" 
        {%if langSelected == "langB"%} 
          id="selected" 
        {% endif %} 
        onclick="window.location.href='/setLang/langB'">Ask {{langBName|capitalize}}</button>

    <h5>Category</h5>
    
      <button class="button" 
        {% if categories.noun == true %} 
          id="selected" 
        {% endif %}
        onclick="window.location.href='/setCat/noun'">Noun</button>
    

    
      <button class="button" 
      {% if categories.verb == true %} 
        id="selected" 
      {% endif %}
      onclick="window.location.href='/setCat/verb'">Verb</button>  
    
      <!--<button class="button" onclick="window.location.href='/setCat/adjective'">Adjective</button>  
      <button class="button" onclick="window.location.href='/setCat/adverb'">Adverb</button>  
      <button class="button" onclick="window.location.href='/setCat/pronoun'">Pronoun</button>  
      <button class="button" onclick="window.location.href='/setCat/preposition'">Preposition</button>  
      <button class="button" onclick="window.location.href='/setCat/conjunction'">Conjunction</button>  
      <button class="button" onclick="window.location.href='/setCat/determiner'">Determiner</button>  
      <button class="button" onclick="window.location.href='/setCat/exclamation'">Exclamation</button>  -->
    
      <button class="button" 
      {% if categories.expression == true %} 
      id="selected" 
      {% endif %}
      onclick="window.location.href='/setCat/expression'">Expression</button>  
    
  </div>
</div>

{% endblock %}