{# templates/vocabulary.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vocabulary{% endblock %}

{% block body %}
  <div id='origin'> French: {{wordA}}</div>
  <div id='reverse' style='visibility: hidden;'> Spanish: {{wordB}}</div>

  <script type="text/javascript">
    function show()
    {
      var elem = document.getElementById('reverse');
      elem.style.visibility = 'visible';
    }
  </script>

  <br><br>
  <button class="button" type="button" onclick="show()">Show</button>
  <br>
  <br>

  <button class="button" onclick="window.location.href='{{linkOk}}/{{id}}'">Correct</button>
  <button class="button" onclick="window.location.href='{{linkKo}}/{{id}}'">Wrong</button>

  <br>
<br>
<br>

  <button class="button" {%if mode == "worst"%} id="selected" {% endif %} onclick="window.location.href='/setSort/worst'">Sort by Worst</button>
  <button class="button" {%if mode == "random"%} id="selected" {% endif %} onclick="window.location.href='/setSort/random'">Sort by Random</button>
  <button class="button" {%if mode == "unknown"%} id="selected" {% endif %} onclick="window.location.href='/setSort/unknown'">Sort by Unknown</button>


<br>


  <button class="button" 
  {%if langSelected == "both"%}  
    id="selected" 
  {% endif %} 
  onclick="window.location.href='/setLang/both'">Ask Both</button>

  <button class="button" 
  {%if langSelected == "langA"%} 
    id="selected" 
  {% endif %} 
  onclick="window.location.href='/setLang/langA'">Ask {{langAName}}</button>

  <button class="button" 
  {%if langSelected == "langB"%} 
    id="selected" 
  {% endif %} 
  onclick="window.location.href='/setLang/langB'">Ask {{langBName}}</button>


{% endblock %}
